/* Letras  */

.botao {

    flex-wrap: wrap;
    margin: 70px auto;

    width: 664px;
    height: 91px;

}

.botao>button {

    align-items: center;

    background-color: #E1ECF4;
    color: #7AA7C7;

    font-family: 'Roboto', sans-serif;

    font-size: 16px;
    font-weight: bold;

    width: 40px;
    height: 40px;

    border: 1px solid #7AA7C7;
    border-radius: 3px;
    margin: 0px 8px 10px 3px;
}

.botao>.disabled > button{
    background-color: #9FAAB5;
    color: #798A9F;
}

